body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
/*     background-image: linear-gradient(#e8eae6,#7c9473); */
    background-color: #86b09e;
}

/* CONTENT AREA STARTS FROM HERE */

.content {
    padding: 5%;
    overflow: hidden;
}

/* PROFILE ONE */

.profile-one {
    width: 100%;
    margin: auto;
}
.color-text {
    color: orange;
}
.left-part {
    float: left;
    width: 40%;
    margin-left: 5%;
}
.right-part {
    overflow: hidden;
    width: 40%;
}
.right-part img {
    width: 80%;
    margin-left: 5%;
}
.profile-one a {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 15px;
    border-radius: 8px;
    color: white;
}

/* PROFILE TWO */


.profile-two {
    width: 100%;
    margin: auto;
    overflow: hidden;
}
.profile-two 
.left-part {
    float: left;
    width: 40%;
    margin-left: 5%;
}
.profile-two
.right-part {
    overflow: hidden;
}
.profile-two
.left-part img {
    width: 80%;
    padding-right: 2%;
}
.profile-two a {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 15px;
    border-radius: 8px;
    color: white;
}



/* LATEST WORKING PROJECT AREA */


.latest-work {
    width: 60%;
    padding: 10%;
    margin: auto;
    overflow: hidden;
}
.red-text {
    color: red;
}
.working-project p {
    font-size: 50px;
    font-weight: strong;
    text-align: center;
}
.image-one {
    width: 30%;
    float: left;
    overflow: hidden;
    background-color: #f5f4f4;
    margin: 1%;
    border: 5px solid #f5f4f4;
    border-radius: 9px;
    
}
.image-one img {
    width: 100%;
}

/* work enquiry starts from here */

.bg-image {
    background-image: url('images/group.png');
    min-height: 200px;
    background-position: center;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}
.container {
    width: 60%;
    margin: auto;
}
.container p {
    float: left;
    color: white;
    font-size: 40px;
    margin-top: 70px;
}
.container a {
    float: right;
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 15px;
    border-radius: 8px;
    margin-top: 75px;
    color: white;
}


/* FOOTER AREA STARTS FROM HERE */

.footer-area a {
    text-decoration: none;
    overflow: hidden;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 15px;
    border-radius: 8px;
    width: 20%;
    color: white;
}

.footer-area ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer-area ul li {
    display: inline;
    padding: 10px;
}
.footer-area img {
    width: 3%;
}
.social-sites {
    text-align: center;
    padding: 40px 0;
}
.copyright {
    text-align: center;
    margin: 0;
}
.copyright p {
    color: #c2c2c2;
    font-size: 16px;
    text-transform: capitalize;
}
